/* General */
html, body { height: 100%; overflow: hidden; /* for popovers */ }
@font-face {
	font-family: FuturaO;
	src: url(../fonts/ff.ttf);
}

/* ACFlexGrid */
ac-flexgrid { display: table; width: 100%; height: 100%; table-layout: fixed; }
ac-flexgridrow { display: table-row; }
ac-flexgridcell { display: table-cell; }
ac-flexgridsizer { z-index: 10; }
ac-flexgridsizer.lr { display: block; width: 7px; height: 100%; margin-left: -4px; cursor: col-resize; position: fixed; /*background-color: rgba(192,255,0,0.5);*/ }
ac-flexgridsizer.ud { display: block; width: 100%; height: 7px; /*background-color: orange;*/ margin-top: -4px; cursor: row-resize; position: relative; }
ac-flexgridsizer:active { /*cursor: col-resize !important; background-color: pink;*/ }

/* ACMapView */
ac-mapview { display: block; width: 100%; height: 500px; }

/* ACNotebook */
ac-notebook { display: block; height: 100%; }
ac-notebook .btn-group { margin-left: 12px; margin-top: 12px; }

/* Notebook Pager */
/*.pager { margin: 12px 0; }*/
.pager .btn.active.focus, .pager .btn.active:focus, .pager .btn.focus, .pager .btn:active.focus, .pager .btn:active:focus, .pager .btn:focus{border-color:rgb(221, 221, 221);background-color: rgb(248, 248, 248); outline:none;outline-offset:-2px; box-shadow: none; -webkit-box-shadow: none;}
.pager .btn.active {border-color:rgb(221, 221, 221);background-color: rgb(248, 248, 248); box-shadow: none; -webkit-box-shadow: none;}
.pager .btn {border-color:rgb(221, 221, 221);}
.pager .btn:hover{border-color:rgb(221, 221, 221);}

/* ACKeyValueView */
.KeyValueView { margin: 0px auto; width: auto; }
.KeyValueView tr:first-child th, .KeyValueView tr:first-child td { border-top: 0}
.KeyValueView>tbody>tr>td, .KeyValueView>tbody>tr>th, .KeyValueView>tfoot>tr>td, .KeyValueView>tfoot>tr>th, .KeyValueView>thead>tr>td, .KeyValueView>thead>tr>th { vertical-align: middle; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { border-top: 0px; padding: 4px;  }
.unbreakable {
-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

/* Input */
.input-sm { border-radius: 0px; }

/* Dropdown Menu */
.dropdown-menu { border-radius: 0; padding: 0; /*min-width: 120px;*/ }
.dropdown-menu>li>a { /*padding: 3px 8px;*/ }

/* ACOnOffSwitch */
ac-onoffswitch {
	display: block;
    position: relative; width: 54px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
ac-onoffswitch input {
    position: absolute;
    left: 0;
    width: 0px;
    /*visibility: hidden;*/
}
ac-onoffswitch label {
    display: block; overflow: hidden; cursor: pointer;
    height: 30px; padding: 0; line-height: 30px;
    border: 2px solid #CCCCCC; border-radius: 30px;
	margin-bottom: 0px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
ac-onoffswitch label:before {
    content: "";
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 24px;
    border: 2px solid #CCCCCC; border-radius: 36px;
    transition: all 0.1s ease-in 0s; 
}
ac-onoffswitch label.active {
	/*outline: 5px auto -webkit-focus-ring-color;*/
	/*box-shadow: 0 0 1pt 1pt rgb(102, 175, 233);*/
}
ac-onoffswitch>input:checked + label {
    background-color: #49E845;
}
ac-onoffswitch>input:checked + label, ac-onoffswitch>input[type=checkbox]:checked + label:before {
   border-color: #49E845;
}
ac-onoffswitch>input:checked + label:before {
    right: 0px; 
}

ac-flexgrid .ace_scroller { /*border-bottom: 1px solid #ddd;*/ }

/* Bootstrap Fix */
.glyphicon { top: 0px; }
.btn:focus { outline: none; }

/* ACListBox */
ac-listbox.list-group { display: block; margin-bottom: 0px; height: 100%; border-color: #ddd; border-style: solid; border-width: 0px; }
.list-group-item:first-child { border-radius: 0px; border-top: 0px; }
.list-group-item:last-child { border-radius: 0px; border-bottom: 0px; }
.list-group-item { border-right: 0px; border-left: 0px; /*padding-top: 7px; padding-bottom: 7px;*/ padding-top: 2px; padding-bottom: 2px; border: none; cursor: default; }
.list-group-item:focus { outline: none; }
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover { background-color: #d9d9d9; /*rgb(248, 248, 248)*/ color: inherit; border-color: inherit; }
ac-listbox.indrag .list-group-item:active { background-color: inherit; }
.scriptlist .list-group-item:last-child { /*border-bottom: 1px solid #ddd*/ }

/* ACBrowseDialog */
ac-browsedialog tbody>tr>th:first-child, ac-browsedialog tbody>tr>td:first-child { padding-left: 15px; }
ac-browsedialog tbody>tr>th:last-child, ac-browsedialog tbody>tr>td:last-child { padding-right: 15px; border-right: 0px; }
ac-browsedialog tbody>tr:last-child td { border-bottom: 0px; }
ac-browsedialog tr.last-item td { border-bottom: 0px; }

/* ACContextMenu */
ac-contextmenu {
	display: block; z-index: 20; position: absolute; min-width: 160px; 
	background-color: #fff; background-clip: padding-box; 
	box-shadow: 2px 2px 2px #8e8e8e;
	border: 1px solid #bababa;
	font-size: 9pt; font-family: 'Segoe UI', sans-serif;
	padding: 2px 0px;
}
ac-contextmenuitem { display: block; padding: 3px 20px; line-height: 1.5; color: black; white-space: nowrap; user-select: none; cursor: default; }
ac-contextmenuitem:hover { background-color: #ebebeb; }
ac-contextmenuitem:active, ac-contextmenuitem:focus { outline: none; /*background-color: #ddd;*/ }